In [2]:
# import the serioust stuff
import pandas as pd
import numpy as np

In [3]:
# load the data
dataset_frame = pd.read_csv("favorita_sample.csv", low_memory = True)

In [4]:
dataset_frame.head()

   id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   0  2013-01-01         25    103665         7.0          NaN
1   1  2013-01-01         25    105574         1.0          NaN
2   2  2013-01-01         25    105575         2.0          NaN
3   3  2013-01-01         25    108079         1.0          NaN
4   4  2013-01-01         25    108701         1.0          NaN